name: Publish Extension
on:
  push:
    tags:
      - "v*"
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Publish to Open VSX
        run: npx ovsx publish --no-dependencies --pat ${{ secrets.OVSX_ACCESS_TOKEN }}
